.homepage {
    display: flex;
    padding: 3rem 5rem;
    height: 83.5vh;
    background: #0B0B0F;
    color: white;
    font-family: 'Inter';
}

.homepageContent {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-self: center;
}

.hometitle {
    font-weight: 900;
    font-size: 60px;
    line-height: 130%;
}

.subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #898CA9;
}

.homeimgs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 7rem;
    row-gap: 2rem;
    width: 45%;
    justify-content: flex-end;
}

.homeimg {
    background: rgba(42, 53, 71, 0.3);
    border-radius: 20px;
}

.imgtitle {
    font-family: 'Poppins';
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    padding: .2rem .5rem;
}

.flexDiv {
    display: flex;
    justify-content: space-between;
    margin-top: .2rem;
}