.collectionpage {
    color: white;
    font-family: 'Poppins';
    padding: 2rem 8rem;
}

.collectiontitle {
    font-weight: 900;
    font-size: 45px;
    line-height: 130%;
    color: grey;
}

.nftCards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.emptyNft {
    width: 50%;
    margin: 3rem auto;
    font-size: 1.3rem;
    padding: 2rem;
    text-align: center;
    background: rgb(71, 67, 67);
    color: white;
}