.collectionpage {
    color: white;
    font-family: 'Poppins';
    padding: 2rem 8rem;

    @media screen and (max-width: 600px) {
        padding: 2rem 4rem;
    }

    @media screen and (max-width: 400px) {
        padding: 3rem;
    }
}

.collectiontitle {
    font-weight: 900;
    font-size: 45px;
    line-height: 130%;
    color: grey;

    @media screen and (max-width: 600px) {
        font-size: 40px;
    }
}

.nftCards {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 3rem;
}

.emptyNft {
    width: 50%;
    margin: 3rem auto;
    font-size: 1.3rem;
    padding: 2rem;
    text-align: center;
    background: rgb(71, 67, 67);
    color: white;

    @media screen and (max-width: 800px) {
        width: 80%;
    }

    @media screen and (max-width: 600px) {
        width: 100%;
    }

        @media screen and (max-width: 400px) {
            padding: 1rem;
        }
}